<body id="landing_page_background">
	<div id="landing_wrap">
		<div id="landing_text">
			<div id="text_heading">
				<h1 class="loginfont">"Tr@\/e|ing - </h1>
				<h2 class="loginfont">it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta</h2>
			</div>
			<a target="_blank" href="/users/auth/facebook" class="FBLI">Sign in with Facebook</a>
		</div>
	</div>
</body>