<!-- BANNER -->
<body>
    <section class="bannercontainer">
      <div class="fullscreenbanner-container">
        <div class="fullscreenbanner" id="landing_page_background">
          <ul>
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
              <img src="img/home/slider/slider-01.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start"
                  data-hoffset="0"
                  data-y="270"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endeasing="Power1.easeIn"
                  data-endspeed="300">
                  <span>Tr@\/e|ing - </span>it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta
                  <br>
                  <br>
                </div>
                <div class="tp-caption rs-caption-3 sft"
                  data-hoffset="0"
                  data-y="485"
                  data-speed="800"
                  data-start="2000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  <span class="page-scroll"><a target="_blank" href="/users/auth/facebook" class="FBLI">    Sign in with Facebook</a></span>
                <!--   <span class="page-scroll"><a target="_blank" href="/users/sign_in" class="FBLI">login </a></span>
                  <span class="page-scroll"><a target="_blank" href="/users/sign_up" class="FBLI">create an account</a></span>
 -->
                </div>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </section>
    </body>