body {  
	background-image: url(subtle_grunge.png);
}

.searchname {
	margin-left: 15px;
	margin-top: 15px;
}
.whitediv {
	background-color: white;
	overflow: hidden;
	border-radius: 30px;
		h3 {
			margin-left: 50px;
		}

}

.blog {
	background-color: white;
	overflow: hidden;
	padding: 35px;
	border-radius: 30px;
}

.tripdummyimage {
	margin-bottom: 35px; 
	margin-top: 45px;
}

.smalltext {
	font-size: 0.5em;
	padding-top: 4px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	line-height: 12px !important;
}
// .smalltext.sidebar-link {
//   width: 75px !important;
// }
.sidebar-link {
  width: 60px !important;
  display: block;
}
.list-inline {
	li.userpic {
		width: 65px !important;
	}
}
.editButton {
  height: 20px;
  width: 20px;
  margin-left: 1px;
}

.width {
	width: 100% !important;
}

img.editButton {
   display: none
}

h2.editButtonText:hover img.editButton{
   display: block;
}

.relatedItem {

	text-align: center;
	margin: 13px auto;
		img {
		height: 100%;

		min-height:100%;
		text-align: center;
		width: auto;
		max-height: 185px;
		margin-left: auto !important;
		margin-right: auto !important;
		}
}

.relatedItem .maskingInfo h4 {
  margin: 40px 0 15px 0 !important;
}

#map {
  height: 400px;
  width: 100%;
 }

 .user_pic_small {
 	height: 200px;
 	width: 200px;
 }

 .timersize {
 	height: 25% !important;
 	width: 75% !important;
 }

.image-row {
    white-space: nowrap;

}

.inline {
	display: inline;
}

.stops-carousel {
 	max-height: 563px !important; 
 	max-width: 100% !important;

 	text-align: center !important;
 	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: auto !important;
 	margin-bottom: auto !important;
 	vertical-align: center !important; 

	
}

.max-carousel {

 	max-height: 563px !important; 

 	min-width: none !important;
 	text-align: center !important;
 	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: auto !important;
 	margin-bottom: auto !important;
 	vertical-align: center !important; 
 	height: auto;
	width: auto; 
	

 }

 .position_relative {
 	 overflow: hidden;
 }

.position_absolute {
	position: absolute;
}
.carousel_align {
	 vertical-align: middle;
}

.container2 


.carousel_vertical_center {

    vertical-align: middle;
}

.vertical_center {

       #position: relative;
    #top: -50%;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
}

 .thumbnail {
 	height: 75px;
 	width: 125px;
 }

.cover {
	 background-size: cover;
}

.centered {

	text-align: center;
}


.leave_comment_pic {
	height: 61px;
	width: 61px;
}

.comment_pic {
	height: 75px;
	width: 75px;
}

.home_panel {
	border-radius: 35px;
}

.margin {
	margin-left: 62px;
}


// Landing page public CSS

#landing_wrap {

	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;

	background: url(/img/home/slider/slider-01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing_text {
	align-self: center;
	width: 55%;
	h1 {color: #ffffff;}
	h2 {color: #ffffff;}
}


.thumb {
	// width: 125px !important;
	height: 75px !important;
	width: auto;

}

.feedpicearth {
	height: 175px !important; 
	width: auto !important; 
	margin-left: 75px;
}

.friendpic {
	height: 30px !important;
	width: auto;
}

.friendpicearth {
	height: 40px !important;
	width: auto;
}

.comments {
	margin-top: 40px;
}

.overflow_hidden {
	overflow: hidden;
}



#friendsidebar {
	border-bottom: none;
	padding-bottom: 0px;
}

.media-body {
	width: 50% !important;
}

.mapdiv {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
  border-width: 2px;
  border-color: #ff891e;
}

.feedtext {
	padding-left: 70px;
	padding-top: 20px;
}

.feedpic {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;	
	margin: 30px 0px 30px 30px;

}

.usertrip {
	margin-bottom: 20px;
	margin-top: 80px;

}

.teamMember .maskingArea .list-inline li a {
  display: block;
  text-align: center;
  border: 0px solid #4a4e52;
  border-radius: 100%;
  color: #ffffff;
}
.teamMember .maskingArea .list-inline li a:hover {
  background-color: transparent;

  border: 0px solid #4a4e52;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.feedpadding {
	
	margin: 30px;
}

@media (min-width: 768px) {
  .packagesList .media-body {
    padding: 10px 0px 0px 10px !important;
  }
}

.padding {
	padding: 1px;
	margin: 1px;
}

.feed-detail-buttons-padding {
	padding: 1px;
	margin: 5px;
	text-align: center;
}

.sidebardates{
	margin-left: 55px;
}
.pageTitle .titleTable .titleTableInner .pageTitleInfo h1 {
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.navbar-brand {

  background-image: url("../img/scenery/travellogo2.jpg") !important;
  height: 100%;
}

.paneluserpic {
	width: 100% !important;
	height: max 100px !important;
	margin-top: 15px;
	border-radius: 30px;
}

.loginfont {
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}


.usershowimage {
	height: 300px;
	margin-top: -30px;
	border-radius: 30px;
}

.smallmap {
	height: 50% !important;


}

.mapshort{
	height: 100000%;
}

.smalltrippic {
	max-width: 100%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	max-height: 150px !important;
}

.borderradius30 {
	border-radius: 30px;
}

.borderradius15 {
	border-radius: 15px;
}

.editbutton {
	transition: all 0.3s ease-in-out;
	background-color: white;
}
.editbutton:hover {
	background-color: #ff891e;
	color: white;
}

.backgroundorange {
	background-color: #ff891e;
	color: white;
}

.feedimgpad {
	margin-bottom: 10px;
}